.App{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: rgb(142, 153, 42);
  min-height: 100vh;
}

h1 {
  font-family: monospace;
  color: rgb(46, 37, 53);
  font-size: 4em;
}

.search {
  padding: 4vh 15vw 8vh ;
}

.gifsContainer {
  width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3vh 1vw; 
  background-color: rgb(46, 37, 53);
  border-radius: 5px;
  margin-bottom: 5vh;
}

.gifs {
  border: 1px solid white;
  margin-top: 2vh;
  transition: transform .5s;
}

.gifs:hover {
  transform: scale(1.4);
}

.loader {
  width: 95vw;
  min-height: 100vh;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(46, 37, 53);
  border-radius: 5px;
  margin-bottom: 5vh;
}
