.App {
  display: flex; 
  /* flex-direction: column;  */
  /* align-items: center; */
}

.Search {
  /* margin-top: 15vh; */
  padding: 8vh 10vw;
  background-color: rgb(82, 136, 103);
}

.gifs {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  /* min-width: 90vw; */
  background-color: rgb(56, 41, 68);
}
