.App{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: rgb(7, 9, 24);
  min-height: 100vh;
}

.search {
  padding: 8vh 10vw;
  background-color: rgb(7, 9, 24);
}

.gifsContainer {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1vw; 
  background-color: rgb(35, 29, 39);
  border-radius: 5px;
  object-fit: contain;

}

.gifs {
  border: 1px solid white;
  margin-top: 2vh;
  transition: transform .5s; 
}

.gifs:hover {
  transform: scale(1.4);
}

.loader {
  min-height: 100vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(113, 158, 123);

}
